.wrapper {
    height: 77px;
    display: flex;
    justify-content: center;
    background-color: #000;

    a.logo img {
        width: 40px;
    }
}
.inner {
    height: 100%;
    width: 1100px;
    background-color: #000;
}
